body.dark-theme {
  --primary-color: #121212;
  --primary-color-faded: rgba(18, 18, 18, 0.2);
  --primary-color-none: rgba(18, 18, 18, 0);
  --secondary-color: #faf9f6;
  --accent-color: #ffc300;
  --quaternary-color: #d9d9d9;
  --quaternary-color-faded: rgba(217, 217, 217, 0.5);
  --button-bg-color: #001f3f;
  --button-border-color: #ffffff;
}

body.light-theme {
  --primary-color: #faf9f6;
  --primary-color-faded: rgba(250, 249, 246, 0.2);
  --primary-color-none: rgba(250, 249, 246, 0);
  --secondary-color: #121212;
  --accent-color: #ffc300;
  --quaternary-color: #d9d9d9;
  --quaternary-color-faded: rgba(217, 217, 217, 0.5);
  --button-bg-color: #ffffff;
  --button-border-color: #121212;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: "Sen", sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

::selection {
  background: #efefef;
  color: #212121;
  mix-blend-mode: difference;
}

::-moz-selection {
  background: #efefef;
  color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Sen", sans-serif;
}

p {
  margin: 0;
  font-family: "Sen", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: "Sen", sans-serif;
}

/************************* PRELOADER STYLES *************************/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#preloader.hide {
  opacity: 0;
  transition: opacity 1s ease;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.loader .dot {
  width: 10px;
  height: 10px;
  background: var(--secondary-color);
  border-radius: 50%;
  margin: 5px;
}

.loader .text {
  position: absolute;
  top: 50px;
  font-family: "Sen", sans-serif;
  font-size: 18px;
  color: var(--secondary-color);
}

/************************* THEME TOGGLER BUTTON STYLES *************************/
.theme-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(255, 248, 225, 0.8);
  color: black;
  border: none;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, color 0.3s, width 0.3s, border-radius 0.3s;
  z-index: 1001;
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  justify-content: center;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

body.dark-theme .theme-toggle {
  background-color: rgba(44, 62, 80, 0.6);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  color: white;
}

.theme-toggle i {
  font-size: 22px;
}

.theme-toggle .toggle-text {
  display: none;
  transition: opacity 0.3s, transform 0.3s;
  opacity: 0;
  font-family: "Sen", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.theme-toggle.show-text {
  width: 120px;
  border-radius: 10px;
  justify-content: center;
}

.theme-toggle.show-text .toggle-text {
  margin-left: 10px;
  opacity: 1;
  transform: translateX(0);
  display: block !important;
}

/* Animations */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateX(4px);
  }
  75% {
    transform: translateX(-4px);
  }
}

.spin {
  animation: spin 0.5s linear;
}

.shake {
  animation: shake 0.5s;
}

/************************* NAVBAR STYLES *************************/

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
}

.navbar .uk-container {
  padding: 0 5%;
}

.navbar .uk-logo {
  display: flex;
  align-items: center;
  background-color: transparent;
}

.navbar .uk-logo .logo-img {
  width: 60px;
  height: 60px;
  fill: var(--quaternary-color);
  mix-blend-mode: difference;
  animation: blend-effect 5s infinite alternate;
}

@keyframes blend-effect {
  0% {
    fill: var(--accent-color);
  }
  100% {
    fill: var(--quaternary-color);
  }
}

.navbar .nav-menu {
  margin: auto 0;
  padding: 5px 10px;
  background-color: transparent;
  border-radius: 0px;
  transition: all 0.3s ease;
}

.navbar .nav-menu:hover {
  cursor: pointer;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.navbar .nav-menu i {
  font-size: 32px;
  color: var(--quaternary-color);
  line-height: revert;
}

/************************* SIDEBAR MENU STYLES *************************/
.uk-offcanvas-bar {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0;
}

.uk-offcanvas-overlay::before {
  background-color: rgba(0, 0, 0, 0.25);
}

.uk-offcanvas-bar .uk-offcanvas-close {
  color: var(--secondary-color);
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.uk-offcanvas-bar .uk-offcanvas-close:hover {
  background-color: var(--accent-color);
  color: var(--primary-color);
  border-radius: 10px;
  animation: spin 0.8s ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.uk-offcanvas-bar .uk-offcanvas-close svg {
  width: 20px;
  height: 20px;
}

.uk-offcanvas-bar .uk-nav {
  padding: 60px 0 20px 0;
}

.uk-offcanvas-bar .uk-nav li {
  margin: 0;
}

.uk-offcanvas-bar .uk-nav li a {
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-weight: 600;
  padding: 20px 10%;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.uk-offcanvas-bar .uk-nav li a:hover {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

.uk-offcanvas-bar .uk-nav li a.active {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

.uk-offcanvas-bar .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.uk-offcanvas-bar .social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  padding: 10px 15px;
  background: var(--button-bg-color);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.uk-offcanvas-bar .social-links a:hover {
  background: var(--accent-color);
  text-decoration: none;
}

.uk-offcanvas-bar .social-links a i {
  font-size: 1.5rem;
  color: var(--secondary-color);
  transition: all 0.3s ease-in-out;
}

.uk-offcanvas-bar .social-links a:hover i {
  color: var(--primary-color);
}

/************************* HERO SECTION STYLES *************************/

.hero {
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  padding-bottom: 10px;
  margin-bottom: 10%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.video-wrap {
  position: absolute;
  top: -10%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

#video-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotate(180deg);
}

.content {
  position: relative;
  text-align: center;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -5%;
}

.blend {
  mix-blend-mode: difference !important;
  color: var(--accent-color);
  z-index: 3;
}

.hero-title {
  font-size: 10vw;
  font-weight: 900;
}

.hero-title.broken {
  display: none;
}

.hero p {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 20px 0;
  z-index: 2;
}

.hero .buttons {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  z-index: 2;
}

.hero .buttons a {
  min-width: 180px;
  padding: 5px 20px;
  background: var(--button-bg-color);
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  color: var(--secondary-color);
}

.hero .buttons a i {
  margin-right: 10px;
}

.hero .buttons a:hover {
  background: var(--accent-color);
  color: var(--button-bg-color);
}

.fade-border {
  min-width: 150px;
  padding: 5px 20px;
  color: var(--secondary-color);
  background: var(--button-bg-color);
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}

.fade-border i {
  margin-right: 10px;
}

.fade-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--button-border-color);
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  box-sizing: border-box;
}

.fade-border:hover::before {
  opacity: 1;
}

.bouncing-arrow {
  width: 100vw;
  height: 35px;
  margin-top: 30px;
  z-index: 1;
  position: relative;
}

.bouncing-arrow i {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: var(--accent-color);
  animation: bounce 2.5s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

/************************* ABOUT SECTION STYLES *************************/
.about-section {
  padding: 50px 0;
  padding-bottom: 10%;
}

.about-section .section-title {
  color: var(--secondary-color);
  font-size: 46px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.about-section .uk-container {
  margin: 0 auto;
}

.slideshow-container {
  position: relative;
  max-width: 80%;
  height: 550px;
  margin: auto;
  overflow: hidden;
}

input[type="radio"] {
  display: none;
}

.card {
  position: absolute;
  width: 65%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.cards .card img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
}

.cards #item-2 img {
  object-position: -100px;
}

.cards #item-3 img {
  object-position: -150px;
}

.cards #item-4 img.blurred-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(2px);
  border-radius: 25px;
  object-fit: cover;
}

.cards #item-4 img.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 100%;
  border-radius: 25px;
  object-fit: contain;
}

#slide-1:checked ~ .cards #item-2,
#slide-2:checked ~ .cards #item-3,
#slide-3:checked ~ .cards #item-4,
#slide-4:checked ~ .cards #item-5,
#slide-5:checked ~ .cards #item-6,
#slide-6:checked ~ .cards #item-1 {
  transform: translateX(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#slide-1:checked ~ .cards #item-6,
#slide-2:checked ~ .cards #item-1,
#slide-3:checked ~ .cards #item-2,
#slide-4:checked ~ .cards #item-3,
#slide-5:checked ~ .cards #item-4,
#slide-6:checked ~ .cards #item-5 {
  transform: translateX(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#slide-1:checked ~ .cards #item-1,
#slide-2:checked ~ .cards #item-2,
#slide-3:checked ~ .cards #item-3,
#slide-4:checked ~ .cards #item-4,
#slide-5:checked ~ .cards #item-5,
#slide-6:checked ~ .cards #item-6 {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 1;
}

.active-slide {
  display: block !important;
}

.text-content {
  width: 100%;
  height: 100%;
  text-align: left;
}

.text-content .text-slide {
  display: none;
}

.text-content .text-slide.active {
  display: block !important;
}

.text-content .text-slide h3 {
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--accent-color);
  margin-bottom: 20px;
}

.text-content .text-slide p {
  width: 80%;
  font-size: 1.2rem;
  color: var(--secondary-color);
}

.text-content .text-slide p.fine-text {
  font-size: 0.8rem;
  text-align: center;
  color: var(--quaternary-color);
}

.text-content .text-slide h2 {
  max-width: 80%;
  margin-top: 5%;
  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
  color: var(--accent-color);
}

.text-content .text-slide h4 {
  max-width: 80%;
  margin-top: 5%;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  color: var(--accent-color);
}

.text-content .text-slide a {
  color: var(--accent-color);
  text-decoration: underline;
}

.text-content .text-slide a:hover {
  color: lightblue;
}

.text-content .text-slide span {
  color: var(--accent-color);
}

.text-content .text-slide .bulleted-info {
  max-width: 80%;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.text-content .text-slide .bulleted-info ul {
  margin: 0;
}

.text-content .text-slide blockquote {
  max-width: 80%;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--accent-color);
  margin-top: 20px;
}

.text-content .text-slide blockquote .person-source {
  font-style: italic;
  text-decoration: none;
  color: var(--quaternary-color);
}

.text-content .text-slide blockquote .person-source:hover {
  color: var(--accent-color);
  text-decoration: underline;
}

.text-content .text-slide blockquote .article-link {
  font-size: 1.1rem;
  font-style: normal;
  color: blue;
}

.text-content .text-slide blockquote .article-link:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

.text-content .text-slide .action-buttons {
  max-width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.text-content .text-slide .action-buttons a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.text-content .text-slide .action-buttons a:hover {
  background: var(--accent-color);
  color: var(--button-bg-color);
}

/************************* SKILLSET SECTION STYLES *************************/
.skillset-section {
  padding: 50px 0;
  padding-bottom: 10%;
}

.skillset-title {
  color: var(--secondary-color);
  font-size: 46px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.view-toggle {
  width: fit-content;
  display: flex;
  justify-content: center;
  margin: 0 auto 6% auto;
  padding: 0;
  background-color: var(--quaternary-color);
  border-radius: 25px;
  overflow: hidden;
}

.view-btn {
  cursor: pointer;
  min-width: 150px;
  padding: 15px 80px;
  border: none;
  border-radius: 25px;
  background-color: transparent;
  color: var(--primary-color);
  font-family: "Sen", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
}

.view-btn.active {
  background-color: var(--accent-color);
  color: var(--primary-color);
  font-weight: 600;
}

.skillset-content {
  display: flex;
  justify-content: center;
  min-height: 400px;
}

.carousel-view,
.list-view {
  display: none;
  width: 100%;
}

.carousel-view.active,
.list-view.active {
  display: flex;
}

.carousel-view {
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}

.carousel {
  margin-bottom: 5%;
}

.carousel .carousel-title {
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.carousel .carousel-container {
  padding: 10px 0;
}

.uk-slider-items li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 20%;
  height: 150px;
  background-color: var(--primary-color);
  box-shadow: 0px 0px 12px 2px rgba(81, 81, 81, 0.25);
  border-radius: 20px;
  padding: 10px;
  margin: 0 15px;
}

.uk-slider-items li img {
  max-width: 100px;
  max-height: 80px;
  height: 80px;
  margin-bottom: 20px;
  object-fit: contain;
}

.uk-slider-items li h3 {
  color: var(--secondary-color);
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

.list-view {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list-view .langandframe,
.list-view .softandapp {
  width: 50%;
}

.vertical-divider {
  content: "";
  height: 50%;
  width: 1px;
  background-color: var(--quaternary-color);
  margin: auto 50px auto 0;
  opacity: 0.1;
}

.list-view .list-title {
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.skillset-section .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.list-view .list .list-items {
  margin-top: 20px;
  margin-right: 50px;
}

.list-view .list .list-items li {
  margin-bottom: 10px;
}

/************************* CURRENT PROJECT SECTION STYLES *************************/
.currentproject-section {
  padding: 50px 0;
  padding-bottom: 10%;
}

.currentproject-title {
  color: var(--secondary-color);
  font-size: 46px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.currentproject-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.currentproject-content .currentproject-card {
  width: 95%;
  min-height: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  box-shadow: 0px 0px 12px 2px rgba(81, 81, 81, 0.25);
  border-radius: 20px;
  padding: 10px;
}

.currentproject-content .currentproject-card .currentproject-image {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.currentproject-content .currentproject-card img {
  width: 80%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  margin-bottom: 25px;
}

.currentproject-content
  .currentproject-card
  .currentproject-image
  .currentproject-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.currentproject-content
  .currentproject-card
  .currentproject-image
  .currentproject-actions
  a {
  padding: 10px 20px;
  margin: 0 25px;
  color: var(--secondary-color);
  background-color: var(--button-bg-color);
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.currentproject-content
  .currentproject-card
  .currentproject-image
  .currentproject-actions
  a:hover {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

.currentproject-content .currentproject-card .currentproject-info {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.currentproject-content .currentproject-card .currentproject-info h3 {
  color: var(--accent-color);
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.currentproject-content .currentproject-card .currentproject-info p {
  color: var(--secondary-color);
  font-size: 1.1rem;
  font-weight: 500;
}

.currentproject-content .currentproject-card .currentproject-info ul li {
  color: var(--secondary-color);
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 5px;
}

/************************* EXPERIENCE SECTION STYLES *************************/
.experience-section {
  padding: 50px 0;
  padding-bottom: 10%;
  background-color: var(--primary-color);
}

.experience-title {
  color: var(--secondary-color);
  font-size: 46px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.experience-content {
  display: flex;
  align-items: flex-start;
}

.timeline {
  position: relative;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--accent-color);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(10%, -50%);
}

#animated-edge {
  height: 1000px;
  width: 30px;
  position: relative;
}

.experiences {
  width: 90%;
  padding-left: 40px;
}

.experience-item {
  margin-bottom: 50px;
}

.experience-item h3 {
  color: var(--accent-color);
  font-size: 1.8rem;
  font-weight: 700;
}

.experience-item h4 {
  color: var(--secondary-color);
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.experience-item ul {
  list-style-type: disc;
  padding-left: 20px;
}

.experience-item ul li {
  color: var(--secondary-color);
  font-size: 1rem;
  margin-bottom: 10px;
}

/************************* CONTACT SECTION STYLES *************************/
.contact-section {
  padding: 50px 0;
  background-color: var(--primary-color);
}

.contact-title {
  color: var(--secondary-color);
  font-size: 46px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
}

.contact-form .uk-form-label {
  color: var(--secondary-color);
  font-weight: 600;
  margin-bottom: 10px;
}

.contact-form .uk-input,
.contact-form .uk-textarea {
  border: 1px solid var(--secondary-color);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 10px;
  padding: 20px 15px;
  margin-top: 5px;
  font-size: 1rem;
  font-family: "Sen", sans-serif;
}

.contact-form .uk-textarea {
  padding-top: 10px;
}

.contact-form .uk-input::placeholder,
.contact-form .uk-textarea::placeholder {
  color: var(--quaternary-color-faded);
}

.contact-form #submit-button.uk-button-primary {
  width: 80%;
  background-color: var(--accent-color);
  color: var(--primary-color);
  border-radius: 10px;
  padding: 5px 30px;
  margin: 0 auto;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.contact-form .uk-button-primary:hover {
  width: 100%;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.contact-form #submit-button.success {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  border: 1px solid var(--accent-color);
  color: var(--secondary-color);
  cursor: unset;
}

.contact-form #submit-button #lottie-animation {
  width: 50px;
  height: 50px;
}

.contact-section #form-message {
  max-width: 60%;
  margin: 20px auto 0 auto;
  text-align: center;
}

.contact-section #form-message p {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

/************************* FOOTER STYLES *************************/
.footer {
  padding: 17% 0 2% 0;
  position: relative;
  overflow: hidden;
  color: var(--secondary-color);
}

.footer .gradient-blend {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(
    0deg,
    rgba(18, 18, 18, 0) 0%,
    rgba(18, 18, 18, 0.5) 50%,
    rgba(18, 18, 18, 1) 100%
  );
  z-index: 2;
}

.footer .video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  object-fit: cover;
}

.footer .video-wrap #video-bg {
  transform: rotate(0deg);
}

.footer .footer-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  display: flex;
  align-items: center;
}

.footer-left .footer-logo {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.footer-left .footer-logo .logo-img {
  width: 70px;
  height: 100%;
  fill: var(--quaternary-color); /* Initial color */
  mix-blend-mode: difference;
  animation: blend-effect 5s infinite alternate;
}

.footer-left a,
.footer-right p {
  mix-blend-mode: difference;
  color: #ffffff;
  font-weight: 700;
}

.footer-left .footer-title {
  font-size: 46px;
  color: var(--accent-color);
}

.footer-left .footer-title:hover {
  color: var(--quaternary-color);
  cursor: pointer;
}

.footer-right p {
  text-align: right;
  margin: 0;
  font-size: 1.2rem;
  color: var(--accent-color);
}

.footer-right p a {
  color: var(--accent-color);
}

.footer-right p a:hover {
  color: var(--quaternary-color);
}

@keyframes blend-effect {
  0% {
    fill: var(--accent-color); /* Starting color */
  }
  100% {
    fill: var(--quaternary-color); /* Ending color */
  }
}

/************************* MEDIA QUERIES *************************/
@media screen and (max-width: 1024px) {
  .hero-title {
    font-size: 13vw;
  }

  .hero p {
    font-size: 1.5rem;
  }

  .hero .buttons {
    width: 60vw;
  }

  .about-section .section-title {
    margin-bottom: 5%;
  }

  .about-section .uk-grid > * {
    padding: 0;
  }

  .about-section .slideshow-container {
    height: 400px;
  }

  .about-section .text-content .text-slide h3 {
    font-size: 2rem;
  }
  .about-section .text-content .text-slide h2 {
    font-size: 1.5rem;
  }

  .about-section .text-content .text-slide p {
    max-width: 100%;
    font-size: 1rem;
  }

  .about-section .text-content .text-slide blockquote {
    font-size: 1.25rem;
  }

  .about-section .text-content .text-slide blockquote .person-source {
    font-size: 1rem;
  }

  .currentproject-section
    .currentproject-content
    .currentproject-card
    .currentproject-info
    h3 {
    font-size: 30px;
  }

  .currentproject-section
    .currentproject-content
    .currentproject-card
    .currentproject-info
    p {
    font-size: 1rem;
  }

  .currentproject-section
    .currentproject-content
    .currentproject-card
    .currentproject-info
    ul
    li {
    font-size: 0.9rem;
  }

  .experience-section .experience-content #animated-edge {
    height: 1030px;
  }

  .footer .footer-content a {
    font-size: 40px;
  }

  .footer .footer-content p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .hero-title {
    font-size: 15vw;
  }

  .hero p {
    font-size: 1.2rem;
  }

  .hero .buttons {
    width: 80vw;
  }

  .about-section .section-title {
    font-size: 36px;
  }

  .about-section .slideshow-container {
    height: 500px;
  }

  .about-section .text-content {
    margin-top: 5%;
    text-align: center;
  }

  .about-section .text-content .text-slide h2 {
    font-size: 1.25rem;
    margin: 15px auto 0 auto;
  }

  .about-section .text-content .text-slide h3 {
    font-size: 1.75rem;
    margin: 0 auto 15px auto;
  }

  .about-section .text-content .text-slide h4 {
    margin: 15px auto 0 auto;
  }

  .about-section .text-content .text-slide p {
    max-width: 100%;
    font-size: 1rem;
    margin: 0 auto;
  }

  .about-section .text-content .text-slide .fine-text {
    font-size: 0.8rem;
  }

  .about-section .text-content .text-slide .bulleted-info {
    max-width: 90%;
    margin: 15px auto 0 auto;
  }

  .about-section .text-content .text-slide .bulleted-info ul {
    margin: 0;
  }

  .about-section .text-content .text-slide .bulleted-info ul li {
    text-align: left;
    font-size: 0.9rem;
  }

  .about-section .text-content .text-slide .action-buttons {
    margin: 20px auto 0 auto;
  }

  .about-section .text-content .text-slide blockquote {
    margin: 15px auto 0 auto;
    text-align: center;
    font-size: 1rem;
  }

  .about-section .text-content .text-slide blockquote .person-source {
    font-size: 0.9rem;
  }

  .skillset-section .skillset-title {
    font-size: 36px;
  }

  .skillset-section .skillset-content .carousel {
    padding: 0 20px;
  }

  .skillset-section .skillset-content .carousel ul li {
    max-width: 25%;
  }

  .skillset-section .skillset-content .carousel ul li img {
    width: 60px;
  }

  .skillset-section .skillset-content .list-view .list-title {
    font-size: 1.25rem;
    margin-bottom: 0;
  }

  .skillset-section .skillset-content .list-view .list .list-items {
    min-width: 150px;
  }

  .currentproject-section .currentproject-title {
    font-size: 36px;
  }

  .currentproject-content .currentproject-card {
    min-height: 450px;
  }

  .currentproject-section
    .currentproject-content
    .currentproject-card
    .currentproject-info
    h3 {
    font-size: 25px;
  }

  .currentproject-section
    .currentproject-content
    .currentproject-card
    .currentproject-info
    p {
    font-size: 0.9rem;
  }

  .currentproject-section
    .currentproject-content
    .currentproject-card
    .currentproject-info
    ul
    li {
    font-size: 0.8rem;
  }

  .currentproject-content
    .currentproject-card
    .currentproject-image
    .currentproject-actions
    a {
    padding: 5px 10px;
  }

  .experience-section .experience-title {
    font-size: 36px;
  }

  .experience-section .experience-content #animated-edge {
    height: 1130px;
  }

  .contact-section .contact-title {
    font-size: 36px;
  }

  .footer .gradient-blend {
    opacity: 0.5;
    height: 40%;
  }

  .footer .footer-content a {
    font-size: 36px;
  }

  .footer .footer-content p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 480px) {
  .uk-offcanvas-bar {
    background-color: var(--primary-color);
    width: 100%;
  }

  .hero .content {
    margin-top: -30%;
  }

  .hero-title {
    display: none;
  }

  .hero-title.broken {
    display: block;
    max-width: 90vw;
    font-size: 30vw;
    font-weight: 900;
    line-height: 115px;
    text-align: center;
  }

  .hero p {
    font-size: 1rem;
  }

  .hero .buttons {
    width: 100vw;
  }

  .hero .buttons a {
    min-width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .hero .buttons a i {
    margin: 0;
    font-size: 1.5rem;
  }

  .hero .buttons a span {
    display: none;
  }

  .about-section {
    padding-bottom: 25%;
  }

  .about-section .slideshow-container {
    height: 400px;
    margin-bottom: 5%;
  }

  .about-section .slideshow-container .card {
    width: 80%;
  }

  .about-section .text-content {
    text-align: left;
  }

  .about-section .text-content .text-slide h2 {
    font-size: 1.1rem;
    margin: 15px auto 0 auto;
    text-align: center;
  }

  .about-section .text-content .text-slide h3 {
    font-size: 1.5rem;
    margin: 0 auto 15px auto;
    text-align: center;
  }

  .about-section .text-content .text-slide h4 {
    margin: 15px auto 0 auto;
  }

  .about-section .text-content .text-slide p {
    max-width: 100%;
    font-size: 0.9rem;
    margin: 0 auto;
  }

  .about-section .text-content .text-slide .fine-text {
    font-size: 0.7rem;
  }

  .about-section .text-content .text-slide .bulleted-info {
    max-width: 90%;
    margin: 15px auto 0 auto;
  }

  .about-section .text-content .text-slide .bulleted-info ul {
    margin: 0;
  }

  .about-section .text-content .text-slide .bulleted-info ul li {
    text-align: left;
    font-size: 0.8rem;
  }

  .about-section .text-content .text-slide .action-buttons {
    margin: 20px auto 0 auto;
  }

  .about-section .text-content .text-slide blockquote {
    margin: 15px auto 0 auto;
    text-align: center;
    font-size: 0.9rem;
  }

  .about-section .text-content .text-slide blockquote .person-source {
    font-size: 0.8rem;
  }

  .skillset-section {
    padding-bottom: 25%;
  }

  .skillset-section .view-toggle {
    width: 80%;
    margin-bottom: 10%;
  }

  .skillset-section .view-toggle .view-btn {
    min-width: 50%;
    padding: 15px 0;
    text-align: center;
  }

  .skillset-section .skillset-content .carousel {
    padding: 0 20px;
  }

  .skillset-section .skillset-content .carousel .carousel-title {
    font-size: 1.25rem;
    text-align: center;
  }

  .skillset-section .skillset-content .carousel ul li {
    max-width: 35%;
  }

  .skillset-section
    .skillset-content
    .text-content
    .text-slide
    .vertical-divider {
    display: none;
  }

  .skillset-section .skillset-content .list-view {
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }

  .skillset-section .skillset-content .list-view .langandframe,
  .skillset-section .skillset-content .list-view .softandapp {
    width: 95%;
  }

  .skillset-section .skillset-content .list-view .list {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .skillset-section .skillset-content .list-view .list .list-items {
    margin-right: 10px;
  }

  .currentproject-section {
    padding-bottom: 25%;
  }

  .currentproject-section .currentproject-content .currentproject-card {
    padding-top: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .currentproject-section
    .currentproject-content
    .currentproject-card
    .currentproject-image {
    width: 80%;
    margin-bottom: 5%;
  }

  .currentproject-section
    .currentproject-content
    .currentproject-card
    .currentproject-image
    img {
    width: 100%;
  }

  .currentproject-section
    .currentproject-content
    .currentproject-card
    .currentproject-info {
    width: 90%;
    margin: 0 auto;
  }

  .experience-section {
    padding-bottom: 25%;
  }

  .experience-section .experience-content .circle {
    transform: translate(25%, -50%);
  }

  .experience-section .experience-content #animated-edge {
    width: 40px;
    height: 1450px;
  }

  .experience-section .experiences {
    padding-left: 20px;
  }

  .experience-section .experiences .experience-item h3 {
    font-size: 1.5rem;
  }

  .experience-section .experiences .experience-item h4 {
    font-size: 1rem;
  }

  .experience-section .experiences .experience-item ul li {
    font-size: 0.9rem;
  }

  .contact-section {
    padding-bottom: 25%;
  }

  .contact-section .contact-form {
    max-width: 90%;
  }

  .footer .gradient-blend {
    display: none;
  }

  .footer .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer .footer-content a {
    font-size: 36px;
    margin-bottom: 5%;
  }

  .footer .footer-content p {
    font-size: 0.9rem;
    text-align: center;
  }
}

@media screen and (max-width: 375px) {
  .hero p {
    font-size: 0.8rem;
  }

  .about-section .section-title {
    font-size: 36px;
  }

  .about-section .slideshow-container {
    height: 400px;
    margin-bottom: 5%;
  }

  .about-section .slideshow-container .card {
    width: 80%;
  }

  .about-section .text-content {
    text-align: left;
  }

  .about-section .text-content .text-slide h2 {
    font-size: 1.1rem;
    margin: 15px auto 0 auto;
    text-align: center;
  }

  .about-section .text-content .text-slide h3 {
    font-size: 1.5rem;
    margin: 0 auto 15px auto;
    text-align: center;
  }

  .about-section .text-content .text-slide h4 {
    margin: 15px auto 0 auto;
  }

  .about-section .text-content .text-slide p {
    max-width: 100%;
    font-size: 0.9rem;
    margin: 0 auto;
  }

  .about-section .text-content .text-slide .fine-text {
    font-size: 0.7rem;
  }

  .about-section .text-content .text-slide .bulleted-info {
    max-width: 90%;
    margin: 15px auto 0 auto;
  }

  .about-section .text-content .text-slide .bulleted-info ul {
    margin: 0;
  }

  .about-section .text-content .text-slide .bulleted-info ul li {
    text-align: left;
    font-size: 0.8rem;
  }

  .about-section .text-content .text-slide .action-buttons {
    margin: 20px auto 0 auto;
  }

  .about-section .text-content .text-slide blockquote {
    margin: 15px auto 0 auto;
    text-align: center;
    font-size: 0.9rem;
  }

  .about-section .text-content .text-slide blockquote .person-source {
    font-size: 0.8rem;
  }

  .skillset-section .skillset-title {
    font-size: 36px;
  }

  .skillset-section .view-toggle {
    width: 80%;
    margin-bottom: 10%;
  }

  .skillset-section .view-toggle .view-btn {
    min-width: 50%;
    padding: 15px 0;
    text-align: center;
  }

  .skillset-section .skillset-content .list-view .list-title {
    font-size: 1.25rem;
    margin-bottom: 0;
  }

  .skillset-section .skillset-content .list-view .list .list-items {
    min-width: 110px;
  }

  .skillset-section .skillset-content .list-view .list .list-items li {
    font-size: 0.8rem;
  }

  .currentproject-section .currentproject-title {
    font-size: 36px;
  }
}
