body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px 0;
}

.navbar .uk-logo {
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
}

.hero {
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  margin-bottom: 10%;
  position: relative;
  overflow: hidden;
}

#herogradient-canvas {
  width: 100%;
  height: 100vh;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.hero .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
}

.hero h1 {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
  color: black;
}

.hero h1 span {
  color: yellow;
}

.hero p {
  font-size: 1.5rem;
  margin: 20px 0;
}

.hero .buttons a {
  color: black;
  background: white;
  border: 2px solid black;
  text-transform: uppercase;
  font-weight: bold;
}

.hero .buttons a i {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 3rem;
  }

  .hero p {
    font-size: 1.2rem;
  }
}

/* Dark Theme Styles */
body.dark-theme .hero h1 {
  color: white;
}

body.dark-theme .hero h1 span {
  color: #ffd700; /* Adjusted yellow for better contrast */
}

body.dark-theme .hero p,
body.dark-theme .hero .buttons a {
  color: white;
  border-color: white;
}

body.dark-theme #herogradient-canvas {
  --gradient-color-1: #001f3f;
  --gradient-color-2: #0074d9;
  --gradient-color-3: #001f3f;
  --gradient-color-4: #0074d9;
}

/* LIGHT THEME STYLES */
body.light-theme #herogradient-canvas {
  --gradient-color-1: #ffb347;
  --gradient-color-2: #ffcc99;
  --gradient-color-3: #ffb347;
  --gradient-color-4: #ffcc99;
}

/* Theme Toggle Button */
.theme-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fff8e1;
  color: black;
  border: none;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, color 0.3s, width 0.3s, border-radius 0.3s;
  z-index: 1001;
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  justify-content: center;
}

body.dark-theme .theme-toggle {
  background-color: #2c3e50;
  color: white;
}

.theme-toggle i {
  font-size: 22px;
}

.theme-toggle .toggle-text {
  display: none;
  transition: opacity 0.3s, transform 0.3s;
  opacity: 0;
  font-size: 18px;
  font-weight: 800;
}

.theme-toggle.show-text {
  width: 120px;
  border-radius: 10px;
  justify-content: center;
}

.theme-toggle.show-text .toggle-text {
  margin-left: 10px;
  opacity: 1;
  transform: translateX(0);
  display: block !important;
}

/* Animations */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateX(4px);
  }
  75% {
    transform: translateX(-4px);
  }
}

.spin {
  animation: spin 0.5s linear;
}

.shake {
  animation: shake 0.5s;
}

/* ABOUT SECTION */
.about-section {
  padding: 50px 0;
  margin-bottom: 10%;
}

.slideshow-container {
  position: relative;
  max-width: 100%;
  height: 450px;
  padding: 0 5%;
  margin: auto;
  overflow: hidden;
}

input[type="radio"] {
  display: none;
}

.card {
  position: absolute;
  width: 65%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: fill;
}

#slide-1:checked ~ .cards #item-3,
#slide-2:checked ~ .cards #item-1,
#slide-3:checked ~ .cards #item-2 {
  transform: translateX(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#slide-1:checked ~ .cards #item-2,
#slide-2:checked ~ .cards #item-3,
#slide-3:checked ~ .cards #item-1 {
  transform: translateX(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#slide-1:checked ~ .cards #item-1,
#slide-2:checked ~ .cards #item-2,
#slide-3:checked ~ .cards #item-3 {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 1;
  img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  }
}

.active-slide {
  display: block !important;
}

.text-content {
  width: 100%;
  height: 100%;
  text-align: center;
}

.text-content .text-slide {
  display: none;
}

.text-content .text-slide.active {
  display: block !important;
}
